/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
    background-color: #DBDBD3;
}

header {
    height: 150px;
    background-color: #009688;
}

img {
    width: 15%;
    border-radius: 50%;
}

p {
    margin-bottom: 0rem;
}

address {
    margin-bottom: 0;
    text-decoration: underline;
    color: gray;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#spotlight {
    height: 600px;
    margin: 0 auto;
    background-color: white;
}

#sidebar {
    height: 100%;
}

#messages  {
    height: 100%;
}

.header.sidebar {
    height: 100px;
}

#notifications {
    height: 100px;
    background-color: #8EDAFC;
}

.bi {
    color: gray;
}

.bi-bell-slash-fill {
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
    border-style: none;
    font-size: 20px;
}